@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media (min-width: 370px) {
  body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
  }
  .Header__MainContainer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background: #2b4c7e;
  }
  .Header__UserContainer {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 0 5px;
    justify-content: space-around;
    border-left: 1px solid #567ebb;
  }
  .Header__UserContainer:hover {
    background: #567ebb;
    cursor: pointer;
  }
  .UserContainerActive {
    background: #567ebb;
  }
  .Header__UserImg {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid white;
    object-fit: cover;
  }
  .Header__UserText {
    font-weight: bold;
    color: white;
    font-size: 13px;
  }
  .Header__DownArrowICon {
    width: 15px;
  }
  @keyframes slidein {
    from {
      height: 0px;
    }

    to {
      height: 90px;
    }
  }
  .Header__MenuMainContainer {
    position: fixed;
    top: 50px;
    width: 43%;
    right: 0px;
    background: #567ebb;
    padding: 5px 0;
    animation-duration: 0.5s;
    animation-name: slidein;
    flex-wrap: nowrap;
    z-index: 10;
  }

  @keyframes opacityanimation {
    from {
      opacity: 0%;
    }
    30% {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  .Header__MenuItemContainer {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    animation-duration: 1s;
    animation-name: opacityanimation;
  }

  .Header__MenuMainContainer a {
    text-decoration: none;
    color: black;
  }
  .Header__MenuItemContainer p {
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  .Header__MenuItemContainer p:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: white;
  }
  .Header__MenuItemContainer p::after {
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);

    transition: clip-path 0.3s;
  }
  .Home__IconCheck {
    height: 15px;
    width: 15px;
  }
  .fade-enter {
    opacity: 0;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-enter-active {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
  }
  .fade-enter-active,
  .fade-exit-active {
    transition: opacity 500ms;
  }
  .Home__WelcomeTitle {
    text-align: center;
    font-size: 70px;
    color: #1f1f20;
    margin-bottom: 0px;
  }
  .Home__WelcomeSubtitle {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
  }
  .Home__RequerimentsContainer {
    margin: 5px;
  }
  .Home__RequerimentsTitle {
    text-align: center;
  }
  .Home__RequerimentsListItem {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .Home__SectionsText {
    text-align: center;
    font-size: 25px;
  }
  .Home__SectionsButtonsContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    justify-content: center;
  }
  .Home__SectionsButtonsContainer a {
    text-decoration: none;
  }
  .Home__SectionsButton {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    height: 100px;
    background: #2b4c7e;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Home__SectionsButton:hover {
    background-color: #567ebb;
  }
  .Home__SectionsButtonText {
    width: 38%;
    color: #dce0e6;
    font-size: 20px;
    font-weight: bold;
  }
  .buttonDisabled {
    background-color: grey;
    cursor: default;
  }
  .buttonDisabled:hover {
    background-color: grey;
    cursor: default;
  }
  .Home__SectionsDisabledNameText {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .Home__SectionsDisabledInputContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .Home__SectionsDisabledInput {
    width: 60%;
    border: 1px solid black;
    background: #dce0e6;
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .Home__SectionsDisabledInputButton {
    background: #2b4c7e;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .Home__SectionsDisabledInputButton:hover {
    background: #567ebb;
  }
  .inputError {
    border: 2px solid red !important;
  }
  .errorText {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: red;
  }
  .Home__SectionsConfirmName {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #2b4c7e;
  }
  .Contact__Title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
  }
  .Contact__subTitle {
    margin-top: 0px;
    text-align: center;
  }
  .Contact__FormContainer {
    padding: 1rem;
    margin: 10px;
    background: #2b4c7e;
    border-radius: 1rem;
    position: relative;
  }
  .Contact__Form {
    display: grid;
    width: 95vw;
    margin: auto;
    row-gap: 0.5rem;
    width: 100%;
  }
  .Contact__FormInput {
    height: 30px;
    border-radius: 0.5rem;
    border: none;
    background: #dce0e6;
  }
  .Contact__FormLabel {
    color: #dce0e6;
    font-weight: bold;
  }
  .Contact__FormSubmitButton {
    background: #2b4c7e;
    border: 3px solid #567ebb;
    height: 50px;
    border-radius: 0.5rem;
    color: #dce0e6;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
  .Contact__FormSubmitButton:hover {
    background: #567ebb;
  }
  @keyframes modalOpacity {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }
  .Contact__FormModalContainer {
    position: absolute;
    bottom: 10%;
    left: 25%;
    background: #567ebb;
    border: 2px solid #2b4c7e;
    border-radius: 1rem;
    height: 23%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    animation-duration: 1s;
    animation-name: modalOpacity;
  }
  .AboutMe__ImageProfileContainer {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 6%;
  }
  .AboutMe__ImageProfile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: 6px solid #567ebb;
  }
  .AboutMe__ProfileName {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .AboutMe__SubTitle {
    margin-top: 0;
    text-align: center;
    color: #567ebb;
  }
  .AboutMe__ResumeContainer {
    background: #2b4c7e;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    width: 90%;
    margin: auto;
  }
  .AboutMe__ResumeTitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #dce0e6;
    margin-top: 15px;
  }
  .AboutMe__ResumeText {
    color: #dce0e6;
    text-align: center;
  }
  .AboutMe__IntroductionGameText {
    font-weight: bold;
    text-align: center;
  }
  .AboutMe__StartButtonContainer {
    width: 50%;
    margin: auto;
  }
  .AboutMe__StartButton {
    width: 100%;
    height: 70px;
    border-radius: 1rem;
    border: none;
    background: #2b4c7e;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  .AboutMe__StartButton:hover {
    background: #567ebb;
  }
  .Game__Title {
    text-align: center;
    font-size: 40px;
    color: #2b4c7e;
    margin-top: 25%;
  }
  .Game__Description {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .Game__ReadyButtonTitle {
    margin-top: 40%;
    text-align: center;
    font-weight: bold;
  }
  .Game__ReadyButtonContainer {
    width: 50%;
    margin: auto;
  }
  .Game__ReadyButton {
    width: 100%;
    height: 75px;
    background: #2b4c7e;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    color: #dce0e6;
    font-size: 30px;
    cursor: pointer;
  }
  .Game__ReadyButton:hover {
    background: #567ebb;
  }
  .Game__Count {
    text-align: center;
    margin-top: 3px;
    font-size: 12px;
  }
  .Game__ItemSelectImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px dashed #567ebb;
    border-radius: 0.5rem;
  }
  .Game__ItemSelectContainer {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 3px dashed #567ebb;
    background: #2b4c7e;
    border-radius: 0.5rem;
    padding: 5px;
    cursor: pointer;
  }
  .Game__ItemSelectContainer:hover {
    background: #567ebb;
    border: 3px dashed #2b4c7e;
  }
  .Game__VersusText {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
  }
  .Game__ItemsMainContainer {
    display: grid;
    margin-bottom: 10px;
  }
  .Game__MainTitle {
    text-align: center;
  }
  .Game__QuestionText {
    text-align: center;
  }
  .Game__ItemSelectText {
    font-size: 20px;
    margin: 5px;
    color: #dce0e6;
    font-weight: bold;
  }
  .Game__ItemsMainContainerCorrect {
    background: #179946 !important;
  }
  .Game__ItemsMainContainerWrong {
    background: #e11919 !important;
  }
  .Game__MainContainer {
    animation-duration: 2s;
    animation-name: modalOpacity;
  }
  .Game__PointsMainContainer {
    text-align: center;
  }
  .Game__PointsTitle {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .Game__PointsStartIcon {
    width: 55px;
    height: 55px;
  }
  .Game__PointsMessageText {
    background: #2b4c7e;
    color: white;
    padding: 10px;
    font-size: 20px;
  }
  .Game__PointsButtons {
    width: 40%;
    background: #2b4c7e;
    border: none;
    border-radius: 0.5rem;
    height: 50px;
    margin: 10px;
    color: #dce0e6;
    font-weight: bold;
    cursor: pointer;
  }
  .Game__PointsButtons:hover {
    background: #567ebb;
  }
}
@media (min-width: 767px) {
  .Header__MainContainer {
    height: 60px;
  }
  .Header__UserContainer {
    width: 30%;
  }
  .Header__UserText {
    font-size: 16px;
  }
  .Header__UserImg {
    width: 40px;
    height: 40px;
  }
  @keyframes slidein {
    from {
      height: 0px;
    }

    to {
      height: 150px;
    }
  }
  .Header__MenuMainContainer {
    width: 31.5%;
  }
  .Header__MenuItemContainer {
    height: 50px;
    font-size: 20px;
  }
  .Header__MenuMainContainer {
    top: 60px;
  }
  .Home__SectionsButtonText {
    width: 27%;
    font-size: 25px;
  }
  .Home__SectionsButton {
    width: 65%;
  }
  .Home__SectionsDisabledNameText {
    font-size: 15px;
  }
  .Home__SectionsDisabledInputContainer {
    height: 45px;
  }
  .Home__SectionsDisabledInputButton {
    width: 10%;
  }
  .errorText {
    font-size: 15px;
  }
  .Home__SectionsConfirmName {
    font-size: 20px;
  }
  .Contact__Title {
    font-size: 40px;
  }
  .Contact__subTitle {
    font-size: 20px;
  }
  .Contact__FormContainer {
    width: 80%;
    margin: auto;
  }
  .Contact__FormLabel {
    font-size: 20px;
  }
  .Contact__FormInput {
    height: 50px;
    font-size: 20px;
  }
  .Contact__FormSubmitButton {
    width: 30%;
    margin: auto;
  }
  .Game__Title {
    font-size: 70px;
  }
  .Game__Description {
    font-size: 26px;
  }
  .Game__Count {
    font-size: 15px;
  }
  .Game__MainTitle {
    margin-top: 10%;
    font-size: 45px;
  }
  .Game__QuestionText {
    font-size: 20px;
  }
  .Game__ItemSelectImg {
    width: 200px;
    height: 200px;
  }
  .Game__ItemSelectText {
    font-size: 25px;
    margin: 15px;
  }
  .Game__PointsMessageText {
    margin-bottom: 10%;
  }
  .Game__PointsButtons {
    height: 80px;
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  .Header__MenuMainContainer {
    width: 31%;
  }
  .Home__SectionsButtonsContainer {
    grid-template-columns: 50% 50%;
  }
  .Home__SectionsButton {
    width: 90%;
  }
  .Home__SectionsButtonText {
    width: 35%;
  }
  .Home__RequerimentsListContainer {
    width: 50%;
    margin: auto;
  }
  .AboutMe__ImageProfileContainer {
    margin-top: 2%;
  }
  .AboutMe__StartButtonContainer {
    width: 30%;
  }
  .Game__Title {
    font-size: 50px;
    margin-top: 5%;
  }
  .Game__ReadyButtonTitle {
    margin-top: 15%;
  }
  .Game__MainTitle {
    margin-top: 3%;
    font-size: 43px;
  }
  .Game__ItemsMainContainer {
    grid-template-columns: 45% 10% 45%;
    align-items: center;
  }
  .Game__ItemSelectContainer {
    width: 70%;
  }
  .Game__ItemsMainContainer {
    margin-top: 8%;
  }
}
@media (min-width: 1200px) {
  .Header__UserContainer {
    width: 20%;
  }
  .Header__MenuMainContainer {
    width: 21%;
  }
  .Home__SectionsContainer {
    width: 90%;
    margin: auto;
  }
  .Home__SectionsDisabledInputButton {
    width: 7%;
  }
  .AboutMe__ResumeContainer {
    width: 70%;
  }
  .Game__Title {
    margin-top: 10%;
  }
}
@media (min-width: 1300px) {
  .Header__MainContainer {
    height: 50px;
  }
  .Header__MenuMainContainer {
    top: 50px;
  }
  .Game__Title {
    margin-top: 4%;
  }
  .Game__ItemsMainContainer {
    grid-template-columns: 35% 10% 35%;
    justify-content: center;
    margin-top: 5%;
  }
}
@media (min-width: 1400px) {
}
@media (min-width: 1850px) {
  .Header__MainContainer {
    height: 55px;
  }
  .Header__UserContainer {
    width: 16%;
  }
  .Header__MenuMainContainer {
    width: 16.5%;
    top: 55px;
  }
  .Home__RequerimentsTitle {
    font-size: 30px;
  }
  .Home__RequerimentsListItem {
    font-size: 20px;
  }
  .Home__IconCheck {
    height: 25px;
    width: 25px;
  }
  .Home__RequerimentsListContainer {
    width: 35%;
    margin: auto;
    margin-bottom: 60px;
  }
  .Home__SectionsButton {
    width: 75%;
    margin-bottom: 0;
    height: 125px;
  }
  .Contact__FormContainer {
    width: 33%;
  }
  .Game__Title {
    margin-top: 8%;
  }
  .Game__ReadyButtonTitle {
    margin-top: 20%;
  }
  .Game__ItemsMainContainer {
    margin-top: 7%;
  }
}
